body{
	background-color: #EAE2D6;
}

header{
	margin: 1rem;
	background-color: #6A6761;
	display: grid;
	grid-template-rows: 2fr;
	border-radius: 1rem;
	font-family: Arvo;
}

#titulo {
	grid-area: 1 / 1 / 2 / 2;
	text-align: center;
	font-size: 3rem;
	color: #EAE2D6;
	margin: 0.5rem;
}

.nav_icones {
	grid-area: 2 / 1 / 3 / 2;
	text-align: center;
}

.nav_icones a:link{
	color: #EDC992;
	text-decoration: none;
}

.nav_icones a:visited{
	color: #EDC992;
	text-decoration: none;
}

.nav_icones a:hover{
	color: #EAE2D6;
	transition: .5s ease;
}

.fa {
	margin: 0.5rem 1rem;
	display: inline;
	font-size: 2rem !important;
}

.projeto{
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr;
	margin: 1rem;
	padding: 1rem;
	text-align: center;
	background-color: #EAE2D6;
}

.corpo {
	margin: 0.5rem;
	display: flex;
	flex-direction: column;
	max-width: 90%
	justify-content: center;
}

.img1{
	text-align: center;
	margin: 0.5rem 0 0 0;
}

.img2 {
	text-align: center;
	margin: 0.5rem 0 0 0;
}


img {
	flex-grow: 1;
	max-width: 92.5%;
	border-radius: 1rem;
}

.descricao{
	margin: 0 0.75rem;
	background-color: #EAE2D6;
}

.desenvolvimento{
	margin: 0 0.75rem;
	background-color: #EAE2D6;
}

.requerimentos{
	margin: 0 0.75rem;
	background-color: #EAE2D6;
}

h1, h2, h3{
	font-family: Arvo;
	color: #6A5A41;
}

h1 {
	font-size: 2rem;
	padding: 0.5rem 0;
}

h2 {
	font-size: 1.5rem;
	padding: 0.5rem 0 0 0;
}

h3 {
	font-size: 1.25rem;
	padding: 0.5rem 0;
}

p, li{
	font-family: Libre Baskerville;
	line-height: 1.75rem;
	font-size: 1rem;
	color: #6A6761;
}

@media (min-width: 1025px) {
body{
	background-color: #EAE2D6;
	align-self: center;
}

header{
	border-radius: 1rem;
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 50% 10% 40%;
	margin: 1rem;
	padding: 1rem;
	background-color: #6A6761;
	justify-content: space-between;
	align-items: center;
}

.nav_icones{
	grid-area: 1 / 3 / 2 / 4;
	align-content: center;
	display: flex;
	justify-content: space-around;
}

.nav_icones a:link{
	color: #EDC992;
	text-decoration: none;
}

.nav_icones a:visited{
	color: #EDC992;
	text-decoration: none;
}

#titulo{
	font-size: 5rem;
	text-align: left;
	grid-area: 1 / 1 / 2 / 2;
	color: #EAE2D6;
}

.projeto{
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr;
	margin: 1rem;
	padding: 1rem;
	text-align: center;
	background-color: #EAE2D6;
}

.fa {
	font-size: 2rem !important;
	display: block;
}

.descricao{
	margin: 1rem;
	padding: 1rem;
	grid-area: 1 / 1 / 2 / 2;
	background-color: #EAE2D6;
	align-self: center;
}

.img1{
	display: flex;
	align-items: center;
	margin: 1rem;
	grid-area: 1 / 2 / 2 / 3;
	text-align: center;
	background-color: #EAE2D6;
}

.desenvolvimento{
	margin: 1rem;
	padding: 1rem;
	grid-area: 2 / 2 / 3 / 3;
	background-color: #EAE2D6;
	align-self: center;
}

.img2{
	display: flex;
	align-items: center;
	margin: 1rem;
	grid-area: 2 / 1 / 3 / 2;
	text-align: center;
	background-color: #EAE2D6;

}

.requerimentos{
	margin: 1rem;
	padding: 1rem;
	grid-area: 3 / 1 / 4 / 3;
	background-color: #EAE2D6;
}

.requerimentos li{
	list-style-type: disc;
	list-style-position: inside;
	margin: 5px 10px;
	padding: 5px 10px;
}

h3{
	margin: 0rem 0rem 0.5rem;
}

.corpo{
	max-width: 80%;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 33% 33% 33%;
}


img {
	border-radius: 1rem;
	margin: 0rem 1rem;
	width: auto;
	height: auto;
	}

h3{
	font-size: 2rem;
}

h2{
	font-size: 3rem;
}

h1{
	font-size: 4rem;
}

p, li{
	font-family: Libre Baskerville;
	line-height: 1.75rem;
	font-size: 1.25rem;
	color: #6A6761;
}

h1, h2, h3{
	font-family: Arvo;
	color: #6A5A41;
}

.nav_icones a:hover{
	color: #EAE2D6;
}

.alinha {
	display: flex;
	justify-content: center;
}

a{
	display: flex;
	justify-content: center;
}
}